/* Calendrier lunaire hebdomadaire */
#lune_semaine
{
	width			: 700px;
	height			: 200px;
	top				: 0px;
	left			: 0px;
	position		: absolute;
	overflow 		: hidden;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius	: 3px 3px 12px 12px;
    /* Effet Gloss inversé */
    box-shadow		:
    	0px 2px 6px rgba(0, 0, 0, 0.5),
    	inset 0 1px rgba(255, 255, 255, 0.3),
    	inset 0 -10px rgba(255, 255, 255, 0.2),
    	inset 0 -10px 20px rgba(255, 255, 255, 0.25),
    	inset 0 15px 30px rgba(0, 0, 0, 0.3);
}

#semaine {
	height: 100%;
	width: 700px;
	margin: 5px auto;
}

.jour {
	display: inline-block;
	height: 100%;
	width: 100px;
	text-align: center;
}

.jour li {width: 100%;}
.jour li.sens {height: 25px;}
.jour li.type {height: 50px;}

/* Lune descendante */
#lune_semaine .D {
	background: transparent url('lune_D.png') center no-repeat;
}
/* Lune montante */
#lune_semaine .M {
	background: transparent url('lune_M.png') center no-repeat;
}
/* Jour feuille */
#lune_semaine .Feuille {
	background: transparent url('J_Feuille.png') center no-repeat;
}
/* Jour fleur */
#lune_semaine .Fleur {
	background: transparent url('J_Fleur.png') center no-repeat;
}
/* Jour fruit */
#lune_semaine .Fruit {
	background: transparent url('J_Fruit.png') center no-repeat;
}
/* Jour racine */
#lune_semaine .Racine {
	background: transparent url('J_Racine.png') center no-repeat;
}
/* Noeud ascendant */
#lune_semaine .NA {
	background: transparent url('J_NA.png') center no-repeat;
}
/* Noeud descendant */
#lune_semaine .ND {
	background: transparent url('J_ND.png') center no-repeat;
}